:root {
    --light-color: #eee;
    --dark-color: #333;
}

body {
    margin: 0px;
    background: var(--light-color);
    height: 100vh;
}

.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
}

.article__title {
}

.article_btn {
    font-size: 18px;
    border: none;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px;
    border-radius: 15px;
}

.article_btn:hover {
    box-shadow: 0px 0px 20px var(--dark-color);
}
